# Some local settings could go here (if you copied it to local_settings.py)
# Here are some things you might want to enable:

LANDING_PAGE = True
DEBUG = True
TEMPLATE_DEBUG = True
HOSTNAME = "localhost:8000"
CREATESEND_SIGNUPS_LIST_ID = "f2211b14db74bd2daecbfbf0a852103e"
CREATESEND_INVITEES_LIST_ID = "4973349a2d227f7171b01d3c2ae93334"
