/*-----------------------------------------------------------------------------------*/
/* CSS Reset & Clearfix - http://meyerweb.com/eric/tools/css/reset/
/*-----------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .clearfix { display: inline-block; } /* Hide from IE Mac \*/ .clearfix { display: block; } /* End hide from IE Mac */ .none { display: none; } /* End Clearfix */


/*-----------------------------------------------------------------------------------*/
/* Document Setup
/*-----------------------------------------------------------------------------------*/

/* @Font Face */

@font-face {
    font-family: 'BodoniBERegular';
    src: url('../fonts/bodoni_be_regular-webfont.eot');
    src: url('../fonts/bodoni_be_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bodoni_be_regular-webfont.woff') format('woff'),
         url('../fonts/bodoni_be_regular-webfont.ttf') format('truetype'),
         url('../fonts/bodoni_be_regular-webfont.svg#BodoniBERegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@charset "utf-8";
body {font-family:/*'MuseoSans500',*/ Arial, Helvetica, sans-serif; margin:0; padding:0; font-size:13px; background:url(../img/bg-body.jpg) repeat-y center 0;}
img {border:none;}
ul{padding:0; margin:0;}
li{list-style-type:none;}
p{line-height:18px; padding:0; margin:0;}
a{text-decoration:none; cursor:pointer; color:#5686ba; outline:none;}
a:focus {outline:none; outline-style:none;}
a:hover{text-decoration:none; color:#4473A6;}
h1, h2, h3, h4, h5, h6{padding:0; margin:0;}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
/*FORM ELEMENT'S STYLES*/
select,input,textarea,input[type="text"] {font-family:Arial, Helvetica, sans-serif; border:none; outline:none;}
.inp-fld, input[type="text"]{border:1px solid #dadada; color:#827579; padding:10px 10px; background:#fff;}
button,input[type="button"]{background:none; cursor:pointer;}
table{border-spacing:0;}

/*-----------------------------------------------------------------------------------*/
/* Common Styles
/*-----------------------------------------------------------------------------------*/

.left{float:left;}
.right{float:right;}
.clear{clear:both;}
.disnone{display:none;}
.popup{top:0; left:0; display:none;}
#fade{position:absolute; background-color:#333; width:100%; left:0; top:0; display:none; z-index:99;}
.full-width{float:left; width:100%;}
.bold{font-weight:bold;}


/*-----------------------------------------------------------------------------------*/
/* Layout
/*-----------------------------------------------------------------------------------*/

#wrapper{width:965px; background:#fff; border-left:1px solid #f6f6f6; border-right:1px solid #f6f6f6; margin:auto;}
#footer{width:100%; float:left; background:#67C2D2; min-height:35px; border-bottom:1px solid #343434; position:fixed; bottom:0;}
#container{width:905px; float:left; padding:15px 30px;}
.footer-box{width:990px; margin:auto;}


#header{
	width:100%; 
	float:left; 
	min-height:65px;
	}

#message {
	min-height: 24px;
	clear: both;
	padding: 30px 0 0 30px;
	width:730px;
	}
#one-liner {
	padding: 10px 0 0 30px;
	color: #585858;
	font-size:16px;
	min-height:24px;
}
#coming-soon {
    clear:both;
    padding: 20px 20px 20px 20px;
}

/*-----------------------------------------------------------------------------------*/
/* Typography
/*-----------------------------------------------------------------------------------*/
.link-blue{font-size:11px; color:#6bc2d1; font-family:Arial, Helvetica, sans-serif;}
.link-blue:hover{color:#2DA6BF;}

h2 {
	font-family: 'BodoniBERegular', Georgia, sans-serif;
	font-size: 33px;
	color: #85d0e1;	
	width: 550px;
	}


/*-----------------------------------------------------------------------------------*/
/* Buttons
/*-----------------------------------------------------------------------------------*/
.btn-pink, input[type="button"]{color:#fff; font-size:14px; font-family:"Georgia", Times New Roman, Times, serif;  float:left; background:#EF3D61;}
.btn-pink:hover, input[type="button"]:hover{background:#AC0F2F;}

/*-----------------------------------------------------------------------------------*/
/* Homepage
/*-----------------------------------------------------------------------------------*/
#header .wonder{float:left; padding:15px 0 0 20px;}
.m-id{float:right; /*background:url(../img/icons01.png)*/ no-repeat right -20px; padding:9px 34px 9px 0; font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:11px; color:#585858; margin:15px 20px 0 0;}
.m-id:hover{color:#000; /*background:url(../img/icons01.png)*/ no-repeat right -55px;}

/*-----------------------------------------------------------------------------------*/
/* Navigation
/*-----------------------------------------------------------------------------------*/
#main-nav{width:100%; float:left; border-top:2px solid #7bcad8; border-bottom:2px solid #7bcad8; padding:3px 0;}
.mnav{width:100%; float:left; border-top:1px solid #a5e2f0; border-bottom:1px solid #a5e2f0;}

/*left side navigation*/
.left-mnav{float:left; margin:0 0 0 10px;}
.left-mnav a{float:left; padding:10px 18px; font-size:11px; font-weight:bold; color:#585858;}
.left-mnav a:hover{color:#000;}

/*Right side navigation*/
.right-mnav{padding:0; margin:0 20px 0 0; float:right;}
.right-mnav li{list-style:none; float:left; background:url(../img/seprator-right-mnav.jpg) no-repeat 0 15px;}
.right-mnav li:first-child{background:none;}
.right-mnav li a{float:left; font-size:14px; font-style:italic; color:#585858; font-family:"Georgia", Times New Roman, Times, serif; padding:7px 10px 10px 12px;}
.right-mnav li a:hover{color:#000;}




/*-----------------------------------------------------------------------------------*/
/* Social
/*-----------------------------------------------------------------------------------*/
.lnk-t, .lnk-f{float:left; width:28px; height:28px;margin: 5px 0;}
.lnk-f{background:url(../img/icons01.png) no-repeat 0 -219px;}
.lnk-f:hover{background-position:0 -247px;}
.lnk-t{background:url(../img/icons01.png) no-repeat 0 -163px;}
.lnk-t:hover{background-position:0 -191px;}

/*-----------------------------------------------------------------------------------*/
/* Footer
/*-----------------------------------------------------------------------------------*/
.foot-nav{float:left;}
.foot-nav a{float:left; font-size:12px; color:#FFF; background:url(../img/seprator-foot-nav.jpg) no-repeat left 17px; margin:0 0 0 2px; padding:12px 10px 9px 12px;}
.foot-nav a:hover{color:#000;}
.foot-nav a:first-child{background:none; margin:0;}
/*Footer Copyright at right side*/
.footer-box h6{float:right;}
.footer-box h6 a{font-size:11px; color:#FFF; float:left; padding:10px 10px 10px 12px;}
.footer-box h6 a:hover{color:#000;}
.footer-box-btm{width:100%; float:left; height:250px; border-top:#e8e8e8; background:url(../img/bg-footgrad.png) repeat-x 0 0 #6b6b6b;}


/*-----------------------------------------------------------------------------------*/
/* Forms
/*-----------------------------------------------------------------------------------*/


/*Top right link*/
.link-blue.b10{font-weight:bold; font-size:10px; float:right;}
/*parent of form panel left and right*/
.form-panel-box{width:100%; float:left; padding:35px 0;}
.form-panel{width:400px; float:left; padding:0 0 0 27px;}
.form-panel.left{background: url(../img/divider.jpg) repeat-y right 0; padding:0 50px 0 27px;}
/*contant on form panels*/
.form-panel h4,.form-panel  h5,.form-panel  p, share-search, .btn-snet, .or-snet{float:left; width:100%; text-align:center;} /*comman style for same element*/
/*styling*/
.form-panel h4{background:url(../img/icons01.png) no-repeat center -95px; font-size:40px; color:#ed3763; height:50px; font-style:italic; padding:0px 0; font-family:Georgia, "Times New Roman", Times, serif; }
.form-panel h5{font-size:25px; color:#ed3763; padding:10px 0 0; font-family:Georgia, "Times New Roman", Times, serif;}
.form-panel p{border-top:1px dotted #ccc; font-size:15px; color:#585858; margin:20px 0 0; padding:20px 0 0;}
.form-panel .inp-fld{float:left; padding:7px 10px; width:205px; margin:0 0 0 11px; font-size:13px;}
.form-panel .s-left{float:left; min-width:145px;}
.form-panel .s-left h3{font-family: Arial, sans-serif; float:left; font-size:11px; color:#585858; font-weight:bold; padding:14px 2px 0 11px;}
.form-panel.left .share-search{clear:both; padding:15px 0 0; margin-left:20x;}
.form-panel.left .share-search .inp-fld{margin-left:15px;} /*input field inharite*/
.form-panel .lnk-t, .form-panel .lnk-f{margin-left:5px;} /*inharite social media icons*/

/*Social networking sites dom tab*/
.btn-snet {text-align: left;}
.btn-snet a{float: left;border:1px solid #6bc2d1; font-size:15px; font-style:italic; color:#6bc2d1; padding:4px 23px; font-family:"Georgia", Times New Roman, Times, serif;}
.btn-snet a:hover{border:1px solid #2da6bf; color:#fff; background-color: #2da6bf;}
.btn-snet a.active{background-color: #6bc2d1; border:1px solid #6bc2d1; color:#fff;}
.btn-snet a.active:hover {color: #fff;}
.or-snet{font-size:17px; font-style:italic; color:#85d0e1; padding:10px 0; width: 380px; font-family: 'BodoniBERegular', Georgia, serif;}

/*bottom of form panel*/
.share-search{clear:both; padding:0px 0 0;}
.share-search .inp-fld.send{ width:275px; height:18px; padding:6px 10px;}
.share-search .btn-pink{background:#EF3D61 url(../img/icons01.png) no-repeat 70px 13px; width:85px; padding:4px 0 6px 15px; font-style:italic; text-align:left; height:32px; line-height:20px;}
.share-search .btn-pink:hover{background:#AC0F2F url(../img/icons01.png) no-repeat 70px 13px;}

/*-----------------------------------------------------------------------------------*/
/* Welcome Page
/*-----------------------------------------------------------------------------------*/
/*Body for welcome intro*/
body#wel-c {}
/*body#wel-c #wrapper{background:none; border:none;}*/

/*Welcome box*/
.welbox{width:595px; min-height:410px; background:#fff; border:5px solid #fff; margin:85px auto 85px; position:relative;}
.welbox .welbox-top{width:100%; min-height:150px; background:url(../img/bg-wel-box-top.png) no-repeat 0 0; float:left;}
.welbox .welbox-btm{width:100%; min-height:165px; background:url(../img/bg-wel-box-btm.png) no-repeat 0 bottom; float:left; padding:0 0 115px 0;}

/*welcome box logo*/
.welbox-top .wonder{margin:85px 0 0 205px; float:left;}
/*contant of welcome box*/
.welbox-contant{float:left; width:200px; padding:0 0 0 35px; min-height:155px;}
.welbox-contant.left{background:url(../img/divider.jpg) repeat-y right 0; width:225px; padding:0 25px 0 50px;}
.welbox-contant h4,.welbox-contant h5,.welbox-contant h6,.welbox-contant p{float:left;}
.welbox-contant h4{font-size:23px; color:#ed3763;  font-family:"Georgia", Times New Roman, Times, serif;}
.welbox-contant p{font-size:14px; color:#a2a2a2; font-family:Arial, Helvetica, sans-serif; width:100%; margin:5px 0 0; line-height:20px;}
.welbox-contant h6{font-size:17px; color:#77CAD9; font-family:"Georgia", Times New Roman, Times, serif; font-style:italic; width:100%; margin:10px 0 0;}
.welbox-contant h5{font-size:24px; color:#77CAD9; font-family:"Georgia", Times New Roman, Times, serif; float:left; font-weight:bold;}
.welbox-contant .link-blue{float:right; margin:10px 0 0; text-decoration:underline; font-weight:bold;}
.welbox-contant .link-blue{ text-decoration:underline;}
.welbox-contant .inp-fld{width:178px; padding:6px 10px; margin:15px 0 0; font-size:100%; }
.welbox-contant .btn-pink{width:200px; background:#EF3D61 url(../img/icons01.png) no-repeat 180px 10px; padding:3px 0 5px 10px; font-style:italic; margin:15px 0 0; text-align:left; height:26px; float:left;}
.welbox-contant .btn-pink:hover{background:#AC0F2F url(../img/icons01.png) no-repeat 180px 10px;}
.f-tip{position:absolute; left:190px; bottom:35px; font-size:12px; color:#77CAD9; background:#fff; padding:2px 8px; font-weight:bold;}
.emailed { padding: 15px; border: 1px solid #ED3762; background-color: rgba(237,55,98,0.20); margin-top: 20px; font-weight: bold; color: #bD1742; }
#error {color:#EF3D61; font-weight: bold;}

/* Footer for welcome page*/
#wel-c .footer-box{width:610px; margin:auto;}

/*-----------------------------------------------------------------------------------*/
/* Login Page
/*-----------------------------------------------------------------------------------*/
.logo {/* padding-left: 166px; */ margin:85px 0 0 205px; float: left;}
.login{width:250px; padding:0; min-height:155px; margin: 30px auto 0;}
/*
.login h4,.login h5,.login h6,.login p{float:left;}
*/
.login h4{font-size:22px; color:#ed3763;  font-family:'BodoniBERegular', "Georgia", Times New Roman, Times, serif;}
.login p{font-size:14px; color:#a2a2a2; font-family:Arial, Helvetica, sans-serif; width:100%; margin:5px 0 0; line-height:20px;}
.login h6{font-size:17px; color:#77CAD9; font-family:"Georgia", Times New Roman, Times, serif; font-style:italic; width:100%; margin:10px 0 0;}
.login h5{font-size:24px; color:#77CAD9; font-family: 'BodoniBERegular', "Georgia", Times New Roman, Times, serif; float:left; font-weight:bold;}
.login .link-blue{float:right; margin:10px 0 0; text-decoration:underline; font-weight:bold;}
.login .link-blue{ text-decoration:underline;}
.login .inp-fld{clear: left; width:229px; padding:10px 10px; margin:15px 0 0;}
.login .btn-pink{float: right !important; clear: both; width:100px; background:#EF3D61 url(../img/icons01.png) no-repeat 80px 10px; padding:3px 0 5px 10px; font-style:italic; margin:15px 0 0; text-align:left; height:26px; float:left;}
.login .btn-pink:hover{background:#AC0F2F url(../img/icons01.png) no-repeat 80px 10px;}
.f-tip{position:absolute; left:190px; bottom:35px; font-size:12px; color:#77CAD9; background:#fff; padding:2px 8px; font-weight:bold;}
.login input[type="text"] {font-size:18px;}

/*-----------------------------------------------------------------------------------*/
.explanation h2#message {
	font-family: 'BodoniBERegular', Georgia, sans-serif;
	font-size: 33px;
	color: #85d0e1;	
	width: auto;
	}

.explanation #descrip_message {
	font-size:16px; 
	color:#585858; 
	margin: 10px 30px;
	line-height: 24px;
	}
	
.explanation #notice_message {
	font-size:18px; 
	color:#424242; 
	margin: 0 30px 0 30px;
	line-height: 24px;
	text-align:center;
	padding-top:12px;
	font-weight:bold;
	}
	
.explanation .form-panel-box p {
	padding: 0 40px 0 70px;
	width: 300px;
}
.explanation .form-panel h3.number{
	font-size: 25px;
	font-family: 'BodoniBERegular', Georgia, serif;
	color: #ed3763;
	width:30px;
	float:left;
	padding: 0 0 0 40px;
	}
	
.explanation .form-panel h3.text{
	font-size: 25px;
	font-family: 'BodoniBERegular', Georgia, serif;
	color: #ed3763;
	float:left;
	width: 290px;
	}

.explanation .btn-center{
	width: 140px;
	height: 40px;
	font-size: 16px;
	margin-right: 140px;
	padding: 10px 35px 9px 18px;
	background: #EF3D61
	}
#btn-prev {
	position:absolute;
	width: 10px;
	}
#btn-next {
	position:absolute;
	width: 10px;
	}

/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/* Invite Page
/*-----------------------------------------------------------------------------------*/
.form-panel-box h2 {
	font-size: 24px;
	color: #2be1db;
	font-family: 'BodoniBERegular', Georgia, serif;
	line-height: 28px;
	margin-bottom: 20px;
	width: 400px;
	}
.form-panel h3,
.email h3 {
	font-size: 25px;
	font-family: 'BodoniBERegular', Georgia, serif;
	color: #ed3763;
	}
.counter, .counter_label {
	color: #2be1db;
	font-family: Georgia, serif;
	position: absolute;
}
.counter {
	font-size: 45px;
	top: 65px;
	left: 185px;
	}
.counter_label {
	font-size: 18px;
	top: 110px;
	left: 0px;
	right: 0px;
	text-align: center;
	}
#progress {
	width: 400px;
	height: 138px;
	position: relative;
	}
.form-panel p {
	border-top: none;
	font-size: 15px;
	color: #585858;
	margin: 12px 0;
	padding: 0;
	text-align: left;
	width: 350px;
	line-height: 22px;
}
.email p {
	border-top: none;
	font-size: 15px;
	color: #585858;
	margin: 20px 0;
	text-align: left;
	}
.form-panel .inp-fld {
	padding: 11px 10px;
	width: 230px;
	margin: 0;
	font-size: 15px;
	border: 2px double #6bc2d1;
	outline: 1px solid #6bc2d1;
	outline-offset: -4px;
	}
.form-panel ul {
	width: 150px; 
	float: left;
	padding-left: 40px;
	}
.form-panel .left {	
	width: 196px;
	padding-left: 10px;
	background: transparent url(../img/divider.jpg) repeat-y right 0;
	}
.form-panel li {
	display: block;
	width: 200px;
	margin: 15px 0;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	color: #585858;
	line-height: 22px;
	letter-spacing: 1px;
	}
.form-panel li strong {
	font-family: Arial, sans-serif;
	color: #ed3763;
	font-size: 13px;
	}
.form-panel li em {
	font-size: 19px;
	font-family: Georgia, serif;
	color: #2be1db;
	display: block;
	text-transform: none;
	}
.email {
	margin: 10px 0 40px 14px;
	min-height: 300px;
	width: 100%;
	}
.email .share-search .inp-fld.send {
	width: 500px;
	height: 23px;
	padding: 6px 10px;
	font-size: 15px;
	color: #868182;
	}	
.email .share-search .btn-pink {
	float: none;
	background: #EF3D61 url(../img/icons01.png) no-repeat 70px 15px;
	width: 85px;
	padding: 5px 0 6px 15px;
	font-style: italic;
	text-align: left;
	height: 37px;
	line-height: 20px;
	}	
.rule {
    	background: transparent url(../img/divider.jpg) right 0;
    	width: 910px;
    	height: 12px;
    	margin: 0 auto;	
	     }

/*-----------------------------------------------------------------------------------*/
/* Invite Modal
/*-----------------------------------------------------------------------------------*/

#modal {
	/*	height: 230px; */
	padding: 27px 30px 0 30px;
	background: #fff;
	position: relative;
	text-align: center;
	}
	
#modal p {
	margin: 0 auto 15px;
	font-size: 14px;
	line-height: 24px;
	color: #585858;
	width: 535px;
	text-align: left;
	}
#modal .features p {
	text-align: center;
	margin: 4px 0 4px 0;
	}
#modal .features p.caption {
	font-weight:bold;    
}
#modal .feature-images {
	float:left;
	padding: 0 20px 0 20px;
	}
#modal .features img {
	float: left;
	width: 400px;
	height: 400px;
	}	
#modal .feature_back {
	float:left;
	margin-top:200px;
	}
#modal .feature_forward {
	float:left;
	margin-top:200px;
	}
.btn-center:hover, input[type="button"]:hover{
	background:#AC0F2F;
	}
#previous{
	padding: 0 0 0 0;
	width: 20px;
	background: url(../img/nav.png) 172px -1px;
	}
#next {
	padding: 0 0 0 0;
	width: 20px;
	background: url(../img/nav.png) 149px -1px;
	}
.feature-nav{
	float:left;
	margin:0 20px 0 20px;
	}
<<<<<<< HEAD
#add-wishlist {
	background: none repeat scroll 0 0 #EF3D61;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: "Georgia",Times New Roman,Times,serif;
    font-size: 14px;
    font-style: italic;
    height: 40px;
    line-height: 20px;
    margin-left: 126px;
    margin-top: 20px;
    padding: 10px 35px 9px 22px;
    text-align: left;
    width: 132px;
	}
#close-dialog {
	background: url(../img/nav.png) 122px -27px;
	padding: 0 0 0 0;
	width: 20px;
	margin-top: -33px;
	margin-right: -20px;
	}
=======


#add-wishlist {
    background: none repeat scroll 0 0 #EF3D61;
	color: #FFFFFF;
	cursor: pointer;
	float: left;
	font-family: "Georgia",Times New Roman,Times,serif;
	font-size: 14px;
	font-style: italic;
	height: 40px;
	line-height: 20px;
	margin-left: 126px;
	margin-top: 20px;
	padding: 10px 35px 9px 22px;
	text-align: left;
	width: 132px;
    }
#close-dialog {
	background: url(../img/nav.png) 122px -27px;
        padding: 0 0 0 0;
	width: 20px;
        margin-top: -33px;
	margin-right: -20px;
    }



>>>>>>> b1a3f0a09cf8872632dcc7e56b5c63d32b62c8f2
/*-----------------------------------------------------------------------------------*/
/* Full Background CSS
/*-----------------------------------------------------------------------------------*/

/*
.fullBg {position:fixed; top:0;	left:0; overflow:hidden;}
*/
body#wel-c #wrapper{background:none; border:none; position:absolute; top:0; left:0; z-index:50; width:100%;}



/*-----------------------------------------------------------------------------------*/
/* Email Section
/*-----------------------------------------------------------------------------------*/


/* -- Loader -- */
#loading {position: relative; display: none;}
#loading .invite_gmail {top:20px;position:absolute;left:18px;}
#loading span.loader-text {letter-spacing: 0.04em;top: 12px;position: absolute;left: 40px;font-size: 13px;display: block;margin-left: 10px;font-weight: normal;}
#loading span.loader {top:20px;position:absolute;left:18px;}


.email, #contacts-content{
	padding:15px 15px 0;
	width: 900px;
	margin-bottom: 100px;
	clear: both;
	}

.check {float:left;width:4em;padding-left:1em;}
.name,.address,.status {padding-top: 2px;}
.name{float:left;width:17em;}
.address {float: left; width: 21em;}
.status{float: left; width: 12em;}

.email-contacts-head {padding:14px 0 30px;background-color:#f5f4f5;color:white; color: #585858; font-style: italic;}
.email-contacts {
	height:25em;
	overflow-y:scroll;
	overflow-x:hidden;
	border-bottom: #f4f5f4 10px solid;
	width:100%;
	}

.email-contacts ul {list-style-type: none; padding: 0; margin: 0;}
.email-contact ul li {margin-bottom: 20px;}
.email-contacts ul li .name,
.email-contacts ul li .address,
.email-contacts ul li .status {color: #827579; font-family: Arial, sans-serif; font-size: 13px;}
.email-contacts ul li .name {width: 17em;}
.email-contacts ul li .address {width: 21em;}
.email-contacts ul li .status {width: 14em;}
.dotted-line{border-bottom:1px dotted #f4f5f4;padding:14px 0; height: 5px;}
input[type="checkbox"] {vertical-align: top;}
#invite-head,#invite{margin-left:0;}
/*
.total-contacts{float:right;padding-right:14px;font-family:Georgia,serif;font-style:italic;font-weight:lighter;}
.selected-contacts{border-left:1px;border-left-style:solid;margin-left:5px;padding-left:8px;}
*/
.pagination {float: left !important;}
.pagination a{padding:0 7px;font-size:15px;font-weight:bold; font-family: 'BodoniBERegular', Georgia, serif;  color:#6bc2d1; text-decoration: underline; font-style: italic;}
.pagination .current{color:#585858; font-family: 'BodoniBERegular', Georgia, serif; font-size: 15px;font-style:normal;padding:0 7px; font-weight:bold; font-style: italic;}
.pagination a:hover{text-decoration:underline;}

#contacts-content span.btn-pink,
input[type="button"] {
	background: #EF3D61 url(../img/icons01.png) no-repeat 120px 17px;
	width: 80px;
	height: 20px;
	padding: 10px 35px 9px 50px;
	text-align: left;
	color:#fff; 
	font-family:"Georgia", Times New Roman, Times, serif;  
	font-size:14px; 
	font-style: italic;
	line-height: 20px;
	float:right;
	cursor: pointer;
	}
#contacts-content .btn-pink:hover{
	background:#AC0F2F url(../img/icons01.png) no-repeat 120px 17px;
	}

.floatRight{float:right;}
.floatLeft{float:left;}
.clear{clear:both;}

/* Invited table */

#invited {
	margin-top: 2em;
	color: #827579;
	font-family: Arial, sans-serif;
	font-size: 13px;
	width: 100%;
}
#invited td, #invited th {
	padding: 10px;
}
#invited th {
	background-color: #F5F4F5;
	color: #585858;
	font-weight: normal;
	font-style: oblique;
}
