<!DOCTYPE html>
<html>
<head>
{% block starthead %}{% endblock %}
<title>{% block title %}WonderHop{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}landing/stylesheets/style.css"/>
<script src="{{ STATIC_URL }}landing/js/jquery-1.6.1.min.js" ></script>
<script src="{{ STATIC_URL }}landing/js/common.js" ></script>
<!-- start Mixpanel -->
<script type="text/javascript">var mpq=[];mpq.push(["init","e8adc5127eb107f869c4f016bb119e2a"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();
</script>
<!-- end Mixpanel -->
{% block extrahead %}{% endblock %}
</head>
<body id="{% block bodyid %}{% endblock %}">
{% block content %}{% endblock %}

<!--Footer Begin-->
<div id="footer">
    <div class="footer-box">
   <!-- Left Side footer-->
        <div class="foot-nav">
        <a href="{% url wonderhop.landing.views.about %}">ABOUT</a>
        <a href="{% url wonderhop.landing.views.privacy %}">PRIVACY</a>
        <a href="mailto:contact@wonderhop.com">CONTACT</a>
        <a href="http://wonderhop.tumblr.com/">BLOG</a>
        <a href="{% url wonderhop.landing.views.jobs %}">JOBS</a>
        <a href="mailto:contact@wonderhop.com">FEEDBACK</a>
        </div>
   <!--Right Side footer-->
        <h6><a href="{% url wonderhop.landing.views.home %}">WonderHop © 2012</a></h6>
    <div class="clear"></div>
    </div>
</div>
<!--Footer End-->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29171134-1']);
  {% if event_advertisement_id %}_gaq.push(['_trackEvent', 'advertisement', '{{ event_advertisement_id|escapejs }}']);{% endif %}
  {% if event_referral_key %}_gaq.push(['_trackEvent', 'referral', '{{ event_referral_key|escapejs }}']);{% endif %}
  _gaq.push(['_trackPageview']);
  
  
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
