<!DOCTYPE html>
<html>
<head>
<title>{% block title %}WonderHop{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}landing/stylesheets/style.css"/>
<script src="{{ STATIC_URL }}landing/js/jquery-1.6.1.min.js" ></script>
<script src="{{ STATIC_URL }}landing/js/common.js" ></script>
{% block extrahead %}{% endblock %}
</head>
<body id="{% block bodyid %}{% endblock %}">
{% block content %}{% endblock %}

<!--Footer Begin-->
<div id="footer">
    <div class="footer-box">
   <!-- Left Side footer-->
        <div class="foot-nav">
        <a href="{% url wonderhop.landing.views.about %}">ABOUT</a>
        <a href="{% url wonderhop.landing.views.privacy %}">PRIVACY</a>
        <a href="mailto:contact@wonderhop.com">CONTACT</a>
        <a href="http://wonderhop.tumblr.com/">BLOG</a>
        <a href="{% url wonderhop.landing.views.jobs %}">JOBS</a>
        <a href="mailto:contact@wonderhop.com">FEEDBACK</a>
        </div>
   <!--Right Side footer-->
        <h6><a href="{% url wonderhop.landing.views.home %}">WonderHop © 2012</a></h6>
    <div class="clear"></div>
    </div>
</div>
<!--Footer End-->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29171134-1']);
  var advertisement_id = $.cookies.get('advertisement_id');
  if (advertisement_id !== null && $.cookies.get('tracked_advertisement_id') !== true) {
    _gaq.push(['_trackEvent', 'advertisement', advertisement_id]);
    $.cookies.set('tracked_advertisement_id', true);
  }
  console.log(advertisement_id);
  var referral_key = $.cookies.get('referral_key');
  if (referral_key !== null && $.cookies.get('tracked_referral_key') !== true) {
    _gaq.push(['_trackEvent', 'referral', referral_key]);
    $.cookies.set('tracked_referral_key', true);
  }
  console.log(referral_key);
  _gaq.push(['_trackPageview']);
  
  
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
