{% extends "landing.html" %}
{% block extrahead %}
<script src="{{ STATIC_URL }}landing/js/jquery.backstretch.js"></script>
<script>
    $.backstretch("{{ STATIC_URL }}landing/img/bg-welcome.png");
</script>
{% endblock %}
{% block bodyid %}wel-c{% endblock %}
{% block content %}
<div id="wrapper">
<!--Welcome Begin-->
    <div class="welbox">
            <div class="f-tip">MEMBERSHIP IS FREE BUT LIMITED</div>
        <div class="welbox-top">
            <a href="{% url wonderhop.landing.views.home %}" class="wonder"><img src="{{ STATIC_URL }}landing/img/wonder-hop.png" alt="" /></a>
        </div>
        <div class="welbox-btm">
            <div class="login">
                <form method="POST">
                <h5>Login</h5>
                <a href="{% url wonderhop.landing.views.home %}" class="link-blue">BACK</a>
                {% csrf_token %}
                <input name="email" type="email" autofocus class="inp-fld" placeholder="Email address" />
                <p id="error">{{ error }}</p>
                <input type="submit" value="Login" class="btn-pink" />
                </form>
            </div>
        </div>
        <div class="clear"></div>
    </div>
<!--Welcome End-->
</div>
{% endblock %}
