{% extends "landing.html" %}
{% block extrahead %}
<script>
$(window).load(function() {
    $("#background").fullBg();
});
</script>
{% endblock %}
{% block bodyid %}wel-c{% endblock %}
{% block content %}
<img src="{{ STATIC_URL }}landing/img/bg-welcome.png" alt="" id="background" />
<div id="wrapper">
<!--Welcome Begin-->
    <div class="welbox">
            <div class="f-tip">MEMBERSHIP IS FREE BUT LIMITED</div>
        <div class="welbox-top">
            <a href="javascript:void(0);" class="wonder"><img src="{{ STATIC_URL }}landing/img/wonder-hop.png" alt="" /></a>
        </div>
        <div class="welbox-btm">
            <!--Left side part Begin-->
            <div class="welbox-contant left">
                <h4>Wonderful finds for an inspired home.</h4>
                <p>Uniquely lovely products to inspire <br />your home, kitchen and family.</p>
                <h6>All at up to <span class="bold">60%</span> off retail.</h6>
            </div>
            <!--Left side part End-->
            <!--Right side part Begin-->
            <div class="welbox-contant">
                <h5>Sign me up!</h5>
                <form method="POST">
                {% csrf_token %}
                <a href="javascript:void(0);" class="link-blue">LOGIN</a>
                <input name="email" type="email" autofocus class="inp-fld" placeholder="Email address" />
                <p id="error">{{ error }}</p>
                <input type="submit" value="Apply for membership" class="btn-pink" />
                </form>
            </div>
            <!--Right side part End-->

        </div>
        <div class="clear"></div>
    </div>
<!--Welcome End-->
<!--Footer Begin-->
<div id="footer">
    <div class="footer-box">
   <!-- Left Side footer-->
        <div class="foot-nav">
        <a href="javascript:void(0);">ABOUT</a>
        <a href="javascript:void(0);">PRIVACY</a>
        <a href="javascript:void(0);">CONTACT</a>
        <a href="javascript:void(0);">BLOG</a>
        <a href="javascript:void(0);">JOBS</a>
        <a href="javascript:void(0);">FEEDBACK</a>
        </div>
   <!--Right Side footer-->
        <h6><a href="javascript:void(0);">WonderHop © 2012</a></h6>
    <div class="clear"></div>
    </div>
</div>
<!--Footer End-->
</div>
{% endblock %}
