{% extends "landing.html" %}
{% block starthead %}
<!-- Google Website Optimizer Control Script -->
<script>
function utmx_section(){}function utmx(){}
(function(){var k='2779185752',d=document,l=d.location,c=d.cookie;function f(n){
if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.indexOf(';',i);return escape(c.substring(i+n.
length+1,j<0?c.length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;
d.write('<sc'+'ript src="'+
'http'+(l.protocol=='https:'?'s://ssl':'://www')+'.google-analytics.com'
+'/siteopt.js?v=1&utmxkey='+k+'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='
+new Date().valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"></sc'+'ript>')})();
</script>
<!-- End of Google Website Optimizer Control Script -->
<!-- Google Website Optimizer Tracking Script -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['gwo._setAccount', 'UA-29171134-2']);
  _gaq.push(['gwo._trackPageview', '/2779185752/test']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- End of Google Website Optimizer Tracking Script -->
{% endblock %}
{% block extrahead %}
<script>
$(function(){
    var backstretch_url = utmx("variation_content", "backstretch_url") || "{{ STATIC_URL }}landing/img/bg-welcome.jpg";
    $.backstretch(backstretch_url);
    mixpanel.register({"backstretch_url": backstretch_url}, "all", 14);
    $("input[name=backstretch_url]").val(backstretch_url);
    mixpanel.track_pageview();
});
</script>
{% endblock %}
{% block bodyid %}wel-c{% endblock %}
{% block content %}
<div id="wrapper">
<!--Welcome Begin-->
    <div class="welbox">
            <div class="f-tip">MEMBERSHIP IS FREE BUT LIMITED</div>
        <div class="welbox-top">
            <a href="{% url wonderhop.landing.views.home %}" class="wonder"><img src="{{ STATIC_URL }}landing/img/wonder-hop.png" alt="" /></a>
        </div>
        <div class="welbox-btm">
            <!--Left side part Begin-->
            <div class="welbox-contant left">
                <h4>Wonderful finds for an inspired home.</h4>
                <p>Uniquely lovely products to inspire <br />your home, kitchen and family.</p>
                <h6>All at up to <span class="bold">60%</span> off retail.</h6>
            </div>
            <!--Left side part End-->
            <!--Right side part Begin-->
            <div class="welbox-contant">
                <h5>Sign me up!</h5>
                <form method="POST">
                {% csrf_token %}
                <a href="{% url wonderhop.landing.views.login %}" class="link-blue">LOGIN</a>
                <input id="signup_email" name="email" type="email" autofocus class="inp-fld" placeholder="Email address" />
                <input type="hidden" name="backstretch_url">
                <p id="error">{{ error }}</p>
                <input id="signup_button" type="submit" value="Apply for membership" class="btn-pink" />
                </form>
            </div>
            <!--Right side part End-->

        </div>
        <div class="clear"></div>
    </div>
<!--Welcome End-->
</div>

<div style="display: none;">
<!-- Google Website Optimizer needs this dummy section here, even though we only use the section content for the backstretch image url -->
<script>utmx_section("backstretch_url")</script>
</noscript>
</div>
{% endblock %}
