{% extends "landing.html" %}
{% block extrahead %}
<script>
$(function(){
    $(".lnk-t").click(function(e){
        var width  = 575,
        height = 220,
        left   = ($(window).width()  - width)  / 2,
        top    = ($(window).height() - height) / 2,
        opts   = 'status=1' +
                 ',width='  + width  +
                 ',height=' + height +
                 ',top='    + top    +
                 ',left='   + left;
        window.open($(this).attr("href"), "tweet", opts);
        e.preventDefault();
    });
    
    $(".lnk-f").click(function(e){
        FB.ui(
          {
            method: 'feed',
            link: '{{ referral_url|escapejs }}',
            name: 'Join WonderHop',
            caption: '{{ facebook_link_caption|escapejs }}',
            description: 'Description.',
          },
          function(response) {}
        );
        e.preventDefault();
    })
});
</script>
{% endblock %}
{% block content %}
<!--Header Begin-->
<div id="wrapper">
    <!--Header Begin-->
    <div id="header">
        <a href="{% url wonderhop.landing.views.home %}" class="wonder"><img src="{{ STATIC_URL }}landing/img/wonder-hop.png" alt="" /></a>
        <a href="javascript:void(0);" class="m-id">{{ signup.email }}</a>
    </div>
    <!--Header End-->

    <!--Main Navigation Begin-->
    <div id="main-nav">
        <div class="mnav">
            <!--
            <div class="left-mnav">
                <a href="javascript:void(0);">SALES</a>
                <a href="javascript:void(0);">PROJECTS</a>
                <a href="javascript:void(0);">FAVORITES</a>
            </div>
            <ul class="right-mnav">
                <li><a href="javascript:void(0);">about</a></li>
                <li><a href="javascript:void(0);">contact</a></li>
                <li><a href="javascript:void(0);">blog</a></li>
                <li><a href="javascript:void(0);">job</a></li>
                <li><a href="javascript:void(0);">feedback</a></li>
            </ul>
            -->
        </div>
    </div>
    <!--Main Navigation Begin-->

    <!--Material Container Begin-->
    <div id="container">
        <!-- <div class="full-width"><span class="link-blue b10">– 21 DAYS UNTIL WONDERHOP LAUNCH –</span></div> -->
        <div class="main-heading"><h1>Invite Friends, Earn Cash</h1></div>
        <div class="form-panel-box">
            <!--Left panel start-->
            <div class="form-panel left">
                <h4>1</h4>
                <h5>Share your personal link</h5>
                <p>Copy and paste the link below to share it with friends</p>
                <div class="share-search">
                    <input autofocus type="text" value="{{ referral_url }}" class="inp-fld" />
                    <div class="s-left">
                        <h3>SHARE</h3>
                        <a href="{{ tweet_url }}" class="lnk-t"></a>
                        <a href="javascript:void(0);" class="lnk-f"></a>
                    </div>
                </div>
            </div>
            <!--Left panel End-->
            <!--Right panel start-->
            <div class="form-panel">
                <h4>2</h4>
                <h5>Invite friends by email</h5>
                <!--<p>Let’s find your friends! Which email service do you use?</p>
                <div class="btn-snet">
                    <a href="javascript:void(0);">Gmail</a>
                    <a href="javascript:void(0);">Hotmail</a>
                    <a href="javascript:void(0);">Yahoo</a>
                    <a href="javascript:void(0);">AOL</a>
                </div>
                <span class="or-snet">– or –</span>-->
                <p>Just enter your friends' email addresses!</p>
                <div class="share-search">
                    <input name="" type="text" placeholder="Type emails, separated by commas" class="inp-fld send" />
                    <input name="" type="button" class="btn-pink" value="Send" />
                </div>
            </div>
            <!--Right panel End-->

        </div>

    </div>
    <!--Material Container End-->

    <div class="clear"></div>
</div>

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '234070303348167',
      status     : false,
    });
  };

  (function(d){
     var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     d.getElementsByTagName('head')[0].appendChild(js);
   }(document));
</script>
<!--Header End-->
{% endblock %}
