{% extends "landing.html" %}
{% block starthead %}
<!-- Google Website Optimizer Tracking Script -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['gwo._setAccount', 'UA-29171134-2']);
  _gaq.push(['gwo._trackPageview', '/2779185752/goal']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- End of Google Website Optimizer Tracking Script -->
{% endblock %}
{% block extrahead %}
<link rel="stylesheet" href="{{ STATIC_URL }}landing/colorbox/colorbox.css" />
<script src="{{ STATIC_URL }}landing/colorbox/jquery.colorbox.js"></script>
<script>
$(function(){
    if ($.cookies.get("modal_done") !== true) {
        $.colorbox({
            inline: true,
            href: "#modal",
            width: "544px",
            height: "255px",
            transition: "none",
            opacity: ".5",
            open: true,
        });
    }
    
    $("#modal .close").click(function(){
        $.colorbox.close();
        $.cookies.set("modal_done", true);
    });

    $(".lnk-t").click(function(e){
        var width  = 575,
        height = 220,
        left   = ($(window).width()  - width)  / 2,
        top    = ($(window).height() - height) / 2,
        opts   = 'status=1' +
                 ',width='  + width  +
                 ',height=' + height +
                 ',top='    + top    +
                 ',left='   + left;
        window.open($(this).attr("href"), "tweet", opts);
        e.preventDefault();
    });
    
    $(".lnk-f").click(function(e){
        FB.ui(
          {
            method: 'feed',
            link: '{{ referral_url|escapejs }}',
            name: 'Join Me On WonderHop!',
            caption: '{{ facebook_link_caption|escapejs }}',
          },
          function(response) {}
        );
        e.preventDefault();
    })
});
</script>
{% endblock %}
{% block content %}
<div id="wrapper">
    <div id="header">
        <a href="{% url wonderhop.landing.views.home %}" class="wonder"><img src="{{ STATIC_URL }}landing/img/wonder-hop.png" alt="" /></a>
        <a href="javascript:void(0);" class="m-id">{{ signup.email }}</a>
    </div>

    <div id="main-nav">
        <div class="mnav">
            <!--
            <div class="left-mnav">
                <a href="javascript:void(0);">SALES</a>
                <a href="javascript:void(0);">PROJECTS</a>
                <a href="javascript:void(0);">FAVORITES</a>
            </div>
            <ul class="right-mnav">
                <li><a href="javascript:void(0);">about</a></li>
                <li><a href="javascript:void(0);">contact</a></li>
                <li><a href="javascript:void(0);">blog</a></li>
                <li><a href="javascript:void(0);">job</a></li>
                <li><a href="javascript:void(0);">feedback</a></li>
            </ul>
            -->
        </div>
    </div>
    
    <h2 id="message">Be the first to get WonderHop access. And get cash rewards!</h2>
    
    <div class="form-panel-box">
        <div class="form-panel left">
            <div id="progress">
            <span class="counter">{{ signup.referred_user_set.count }}</span>
            </div>
            <ul class="left">
                {% if reward_tiers.0 %}<li><em>{{ reward_tiers.0.num_signups }} friends join</em> <strong>${{ reward_tiers.0.reward }}</strong> Wonderhop credit</li>{% endif %}
                {% if reward_tiers.1 %}<li><em>{{ reward_tiers.1.num_signups }} friends join</em> <strong>${{ reward_tiers.1.reward }}</strong> Wonderhop credit</li>{% endif %}
            </ul>
            <ul>
                {% if reward_tiers.2 %}<li><em>{{ reward_tiers.2.num_signups }} friends join</em> <strong>${{ reward_tiers.2.reward }}</strong> Wonderhop credit</li>{% endif %}
                {% if reward_tiers.3 %}<li><em>{{ reward_tiers.3.num_signups }} friends join</em> <strong>${{ reward_tiers.3.reward }}</strong> Wonderhop credit</li>{% endif %}
            </ul>
        </div>
        <div class="form-panel">
            <h3>Share your personal invite link</h3>
            <p>Copy and paste the link below or share on Twitter or Facebook</p>
        
            <div class="share-search">
                <input autofocus type="text" value="{{ referral_url }}" class="inp-fld" />
                <div class="s-left">
                    <h3>SHARE</h3>
                    <a href="{{ tweet_url }}" class="lnk-t"></a>
                    <a href="javascript:void(0);" class="lnk-f"></a>
                </div><!--End s-left-->
            </div><!--end share-search-->
        </div><!--End form-panel-->
    
        <div class="clear"></div>
        <div class="rule"></div>
    
        <!-- BEGIN Email Section -->
        <div class="email">
            <h3>Invite friends by email</h3>
            <p>Let’s find your friends!</p>
            <div class="btn-snet">
                <a class="cs_import" href="javascript:void(0);">Import from Address Book</a>
            </div>
            <!-- A hidden form for contact importer -->
            <form method="POST" id="hidden_email_form" action="{% url wonderhop.landing.views.share_email signup.id %}">
                {% csrf_token %}
                <input type="hidden" name="emails">
            </form>

            <span class="or-snet">– or –</span>
            <div class="share-search">
                <form method="POST" action="{% url wonderhop.landing.views.share_email signup.id %}">
                    {% csrf_token %}
                    <input name="emails" type="text" placeholder="Type emails, separated by commas" class="inp-fld send">
                    <input type="submit" class="btn-pink" value="Send">
                </form>
                
                {% if emailed %}
                <div class="emailed">Your emails have been sent!</div>
                {% endif %}
            </div>
            
            <table id="invited">
                <tr><th>Email</th><th>Status</th></tr>
                {% for invited_user in invited_users %}
                <tr><td>{{ invited_user.email }}</td><td class="{{ invited_user.description_class }}">{{ invited_user.description }}</td></tr>
                {% endfor %}
            </table>
        </div><!-- End email -->
    </div><!-- End form-panel-box -->
    <div class="clear"></div>
</div>

<div style="display:none">
    <div id="modal">
        <h2><strong>Be the first to get WonderHop access. And get cash rewards!</strong></h2>
        <p>
            <strong>All new member openings are currently reserved.</strong>
            But you can skip the line by inviting your friends to join WonderHop. Plus, earn amazing <em>cash rewards!</em>
        </p>
        <input type="button" class="btn-pink close" value="Invite Friends, Get Cash Rewards" />
    </div>
</div>

<script type="text/javascript" src="https://api.cloudsponge.com/address_books.js"></script>
<script type="text/javascript" charset="utf-8">
var csPageOptions = {
    domain_key:"EAHNM54P828ZFP8YWFW6", 
    afterSubmitContacts: function(contacts){
        var contact_emails = $.map(contacts, function(contact){
            return contact.primaryEmail();
        });
        $("#hidden_email_form").find("input[name=emails]").val(contact_emails.join(",")).end().submit();
    }
};
</script>

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '234070303348167',
      status     : false,
    });
  };

  (function(d){
     var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     d.getElementsByTagName('head')[0].appendChild(js);
   }(document));
</script>
<!--Header End-->
{% endblock %}
