
STATIC_ROOT = "%(django_static_root)s/wonderhop/"

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql_psycopg2",
        "NAME": "wonderhop",
        "USER": "wonderhop",
    }
}

DEBUG = %(debug)s
TEMPLATE_DEBUG = %(debug)s
LANDING_PAGE = %(landing)s
HOSTNAME = "%(hostname)s"
CREATESEND_SIGNUPS_LIST_ID = "%(signups_list_id)s"
CREATESEND_INVITEES_LIST_ID = "%(invitees_list_id)s"
